<h3>Funds</h3>
<div class="nested-form">
  <div class="form-group">
    <label for="initialDeposit">Deposit</label>
    {{sliderValue$ | async | number:'.2'}} Bells
  </div>
  <mat-slider color="primary" min="1" [max]="(loanType$ | async).loanAmount" value="0" formControlName="initialDeposit" (input)="sliderValue$.next($event.value)"></mat-slider>
  <div class="form-group">
    Remaining Amount Due: {{ remainingBalance$  | async | number:'.2' }} Bells
  </div>
</div>
<div class="buttons">
  <button routerLink="/new-loan/step-2">Previous</button>
  <button [disabled]="" routerLink="/new-loan/loan-summary">Submit</button>
</div>

