.loans-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    height: 100px;
    width: 280px;
    justify-content: start;
  }
}

.blue {
  border: solid 5px #4F5E9D;
}
.red {
  border: solid 5px #EC4B43;
}
.pink {
  border: solid 5px #FF6B6C;
}
.green {
  border: solid 5px #497846;
}
.teal {
  border: solid 5px #4E9AB8;
}
.purple {
  border: solid 5px #532E55;
}
.black {
  border: solid 5px #443935;
}
