<h3>Application Complete!</h3>
<div>
  <img src="../../../assets/img/animal-crossing-bell-bag-png.png" alt="bell bag" width="120px">
  <img src="../../../assets/img/animal-crossing-bell-bag-png.png" alt="bell bag" width="120px">
  <img src="../../../assets/img/animal-crossing-bell-bag-png.png" alt="bell bag" width="120px">
</div>
<p>Get to earning those Bells!</p>
<p>Want to repay faster?
  <a target="_blank" href="https://www.polygon.com/animal-crossing-new-horizons-switch-acnh-guide/2020/3/24/21191403/tarantula-island-spider-bells-farm-mystery-island-tours-nook-miles">Check out how to make Tarantula Island!</a></p>
